In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
CricketerData=pd.read_excel('D:/Ment Class/Practise11/Excel Data/CricketerData.xlsx')

In [3]:
CricketerData.head()

   RunsScored  BallsFaced  BattingPosition Dismissal  Inning Opposition  Year
0          12          22                2       LBW       1  Sri Lanka  2008
1          37          67                2    Caught       2  Sri Lanka  2008
2          25          38                1   Run out       1  Sri Lanka  2008
3          54          66                1    Bowled       1  Sri Lanka  2008
4          31          46                1       LBW       2  Sri Lanka  2008

In [4]:
CricketerData.shape

(208, 7)

In [5]:
CricketerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [6]:
CricketerData

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
0,12,22,2,LBW,1,Sri Lanka,2008
1,37,67,2,Caught,2,Sri Lanka,2008
2,25,38,1,Run out,1,Sri Lanka,2008
3,54,66,1,Bowled,1,Sri Lanka,2008
4,31,46,1,LBW,2,Sri Lanka,2008
...,...,...,...,...,...,...,...
203,140,107,3,Stumped,2,West Indies,2018
204,157,129,3,NO,1,West Indies,2018
205,107,119,3,Bowled,2,West Indies,2018
206,16,17,3,Caught,1,West Indies,2018
207,33,29,3,NO,2,West Indies,2018

In [7]:
CricketerData.describe()

       RunsScored  BallsFaced  BattingPosition      Inning         Year
count  208.000000  208.000000       208.000000  208.000000   208.000000
mean    49.192308   52.961538         3.264423    1.567308  2013.240385
std     43.797641   39.850548         0.781602    0.496644     2.750477
min      0.000000    0.000000         1.000000    1.000000  2008.000000
25%     10.750000   18.000000         3.000000    1.000000  2011.000000
50%     35.000000   46.500000         3.000000    2.000000  2013.000000
75%     81.250000   83.250000         3.000000    2.000000  2015.000000
max    183.000000  159.000000         7.000000    2.000000  2018.000000

In [8]:
CricketerData.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending= False)

Opposition
Sri Lanka       2186
West Indies     1840
South Africa    1269
Australia       1182
New Zealand     1154
England         1112
Bangladesh       654
Pakistan         459
Zimbabwe         253
Ireland           78
U.A.E.            33
Netherlands       12
Name: RunsScored, dtype: int64

In [9]:
#Average
CricketerData.groupby(['Opposition'])['RunsScored'].mean().sort_values(ascending= False)

Opposition
New Zealand     60.736842
Bangladesh      59.454545
West Indies     57.500000
South Africa    52.875000
Sri Lanka       48.577778
Australia       45.461538
Zimbabwe        42.166667
Ireland         39.000000
England         38.344828
Pakistan        38.250000
U.A.E.          33.000000
Netherlands     12.000000
Name: RunsScored, dtype: float64

In [10]:
# median
CricketerData.groupby(['Opposition'])['RunsScored'].median().sort_values(ascending= False)

Opposition
Bangladesh      66.0
New Zealand     64.0
West Indies     46.0
South Africa    41.0
Ireland         39.0
Sri Lanka       37.0
England         35.0
U.A.E.          33.0
Australia       29.0
Zimbabwe        28.0
Pakistan        12.5
Netherlands     12.0
Name: RunsScored, dtype: float64

In [11]:
CricketerData.groupby(['Year'])['RunsScored'].sum().sort_values(ascending= False)

Year
2017    1460
2011    1381
2013    1268
2018    1202
2014    1054
2012    1026
2010     995
2016     739
2015     623
2009     325
2008     159
Name: RunsScored, dtype: int64

In [12]:
CricketerData.groupby(['Year','Opposition']).RunsScored.sum().sort_values(ascending= False).head(1)

Year  Opposition
2012  Sri Lanka     695
Name: RunsScored, dtype: int64

In [13]:
CricketerData.groupby(['Year','Opposition'])['RunsScored'].sum().sort_values(ascending= False).head(1)

Year  Opposition
2012  Sri Lanka     695
Name: RunsScored, dtype: int64

In [14]:
CricketerData["Dismissal"].value_counts()

Dismissal
Caught        121
NO             37
Bowled         21
LBW            12
Run out        12
Stumped         4
Hit wicket      1
Name: count, dtype: int64

In [15]:
37/208

0.1778846153846154

In [16]:
mydata_runs=CricketerData[CricketerData['RunsScored']<=7]
mydata_runs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 5 to 186
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       40 non-null     int64
 1   BallsFaced       40 non-null     int64
 2   BattingPosition  40 non-null     int64
 3   Dismissal        40 non-null     object
 4   Inning           40 non-null     int64
 5   Opposition       40 non-null     object
 6   Year             40 non-null     int64
dtypes: int64(5), object(2)
memory usage: 2.5+ KB

In [17]:
CricketerData.Opposition.nunique()

12

In [18]:
CricketerData.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending= True).head(5)

Opposition
Netherlands     12
U.A.E.          33
Ireland         78
Zimbabwe       253
Pakistan       459
Name: RunsScored, dtype: int64

In [19]:
 CricketerData.groupby('Inning')['RunsScored'].mean()

Inning
1    45.111111
2    52.305085
Name: RunsScored, dtype: float64

In [20]:
CricketerData.groupby('Opposition')['RunsScored'].agg(['median', 'sum'])

              median   sum
Opposition
Australia       29.0  1182
Bangladesh      66.0   654
England         35.0  1112
Ireland         39.0    78
Netherlands     12.0    12
New Zealand     64.0  1154
Pakistan        12.5   459
South Africa    41.0  1269
Sri Lanka       37.0  2186
U.A.E.          33.0    33
West Indies     46.0  1840
Zimbabwe        28.0   253

In [21]:
CricketerData[CricketerData["Opposition"]=="Bangladesh"]["RunsScored"].median()

66.0

In [22]:
CricketerData[CricketerData["Opposition"]=="New Zealand"]["RunsScored"].median()

64.0

In [23]:
CricketerData[CricketerData["Opposition"]=="Sri Lanka"]["RunsScored"].median()

37.0

In [24]:
pd.crosstab(index = CricketerData['Inning'],columns=CricketerData['Dismissal'], values=CricketerData['RunsScored'],margins=True,aggfunc='count')

Dismissal  Bowled  Caught  Hit wicket   LBW    NO  Run out  Stumped  All
Inning
1            12.0    54.0         1.0   5.0   8.0     10.0      NaN   90
2             9.0    67.0         NaN   7.0  29.0      2.0      4.0  118
All          21.0   121.0         1.0  12.0  37.0     12.0      4.0  208

In [25]:
# let's fetch the data post transform 
CricketerData['post_transform'] = CricketerData["Year"]>2012
CricketerData

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year,post_transform
0,12,22,2,LBW,1,Sri Lanka,2008,False
1,37,67,2,Caught,2,Sri Lanka,2008,False
2,25,38,1,Run out,1,Sri Lanka,2008,False
3,54,66,1,Bowled,1,Sri Lanka,2008,False
4,31,46,1,LBW,2,Sri Lanka,2008,False
...,...,...,...,...,...,...,...,...
203,140,107,3,Stumped,2,West Indies,2018,True
204,157,129,3,NO,1,West Indies,2018,True
205,107,119,3,Bowled,2,West Indies,2018,True
206,16,17,3,Caught,1,West Indies,2018,True
207,33,29,3,NO,2,West Indies,2018,True

In [26]:
CricketerData.groupby(by="post_transform")["RunsScored"].sum()

post_transform
False    3886
True     6346
Name: RunsScored, dtype: int64

In [27]:
CricketerData.groupby(by="post_transform")["BallsFaced"].mean()

post_transform
False    51.147727
True     54.291667
Name: BallsFaced, dtype: float64

In [28]:
CricketerData.groupby(["post_transform",'Inning'])["RunsScored"].mean()

post_transform  Inning
False           1         36.421053
                2         50.040000
True            1         51.461538
                2         53.970588
Name: RunsScored, dtype: float64

In [29]:
pd.crosstab(index = CricketerData['post_transform'],columns=CricketerData['Dismissal'], values=CricketerData['RunsScored'],margins=True,aggfunc='sum')

Dismissal,Bowled,Caught,Hit wicket,LBW,NO,Run out,Stumped,All
post_transform,,,,,,,,
False,302.0,2016.0,107.0,190.0,986.0,252.0,33.0,3886
True,564.0,3095.0,NaN,160.0,2012.0,300.0,215.0,6346
All,866.0,5111.0,107.0,350.0,2998.0,552.0,248.0,10232